<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tweety!</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Basic Module input -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <!-- Map API -->
  <script src="js/ng-map.min.js"></script>
  <script src="js/mymap.js"></script>
  <script src="js/markerclusterer.js"></script>
  <script src="js/markers.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDjDW2uc8oNBoXDuki-Fle2VSKyWazRRrQ"></script>
</head>

<body ng-controller="MyController" ng-init = "init()">
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">TweetyMapper</a>
    </div>
  </div>
</nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">
    <h2>Hello! Welcome To TweepyMapper</h2>
    <p class="lead">Search your favourite Words in here: {{word}}</p>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">Search Word</span>
      <input type="text" class="form-control" ng-model="$parent.word" placeholder="Word: job, apple, nvidia, etc" aria-describedby="sizing-addon1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="searchword()">Search</button>
      </div>
    </div>
    <h4>
        <span ng-repeat="(key, value) in words" ng-click="deleteword(key)" class="label label-info">{{key}}</span>
    <h4>
  </div>
</div>
<div class="container">
  <ng-map center="[40.74, -74.18]"></ng-map>
</div>
<div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
</div>
</body>
</html>