<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tweety!</title>
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Basic Module input -->
  <script src = "../static/js/angular.js"></script>
  <script src="../static/js/angular-animate.js"></script>
  <script src="../static/js/angular-sanitize.js"></script>
  <script src="../static/js/ui-bootstrap-tpls-2.5.0.js"></script>
  <!-- Map API -->
  <script src="../static/js/ng-map.min.js"></script>
  <script src="../static/js/mymap.js"></script>
  <script src="../static/js/markerclusterer.js"></script>
  <script src="../static/js/markers.js"></script>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDjDW2uc8oNBoXDuki-Fle2VSKyWazRRrQ"></script>
</head>

<body ng-controller="MyController" ng-init = "init()">
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">TweetyMapper</a>
    </div>
  </div>
</nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">
    <h2>Hello! Welcome To TweetyMapper</h2>
    {% raw %}
    <p class="lead">Search your favourite Words in here: {{word}}</p>
    {% endraw %}
    <div class="input-group input-group-lg">
    <div class="input-group-btn" uib-dropdown>
      <button id="oldword" type="button" class="btn btn-info" uib-dropdown-toggle>
      Search Existed<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="oldword">
      {% raw %}
        <li ng-repeat="sword in oldwords">
          <a ng-click="searchold(sword)">{{sword}}</a>
        </li>
      {% endraw %}
      </ul>
    </div>
    {% raw %}
      <input type="text" class="form-control" ng-model="$parent.word" placeholder="Word: job, apple, nvidia, etc" aria-describedby="sizing-addon1">
    {% endraw %}
      <div class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="searchword()">Search</button>
      </div>
      {% raw %}
      <div class="input-group-btn" ng-hide="hideupdate">
        <button type="button" class="btn btn-info" ng-click="fetchupdate()">Updates {{numofupdates}}</button>
      </div>
      {% endraw %}
    </div>
    <h4>
    Click Tag to Remove words:
      {% raw %}
      <span ng-repeat="(key, value) in words" ng-click="deleteword(key)" class="label label-info">{{key}}</span>
      {% endraw %}
      <h4>
      </div>
    </div>
    <div class="container">
      <ng-map on-rightclick="getpos($event)" center="[40.74, -74.18]"></ng-map>
    </div>
        
  </body>
  </html>