<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Simple markers</title>
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	</head>
	<body>
		<div id="tfheader">
			<div id="tfkeywordsearch">
				<input type="text" class="tftextinput" name="query" id="serachbox" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton" id="searchbuttonid">
			</div>
			<div class="tfclear"></div>
		</div>
		<div class="dropdown">
			<button onclick="myFunction2()" class="dropbtn">Keyword List</button>
			<div id="myDropdown2" class="dropdown-content">
				<button onclick="searchKeyword2('movie')">movie</button>
				<button onclick="searchKeyword2('commercial')">commercial</button>
				<button onclick="searchKeyword2('car')">car</button>
				<button onclick="searchKeyword2('music')">music</button>
				<button onclick="searchKeyword2('food')">food</button>
				<button onclick="searchKeyword2('sport')">sport</button>
				<button onclick="searchKeyword2('party')">party</button>
			</div>
		</div>
		<div id="map"></div>
		<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../static/js/index.js"></script>
		<script type="text/javascript" src="../static/js/markerclusterer.js"></script>
		<script async defer
			    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUmnIh-uiDxqPKeEgUQc33ivHMspNKC0&signed_in=true&callback=initMap">
		</script>

	</body>
</html>
